.root {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.header {
  display: flex;
  align-items: center;
  color: var(--grey);
}

.content {
  overflow: hidden;
}

.icon {
  margin-top: 0.1rem;
  margin-right: 0.25rem;
  transition: transform 0.2s ease;
}

.icon.open {
  transform: rotate(90deg);
}

.label {
  display: block;
  width: 100%;
}
